.karta {
    background-color: #C8B8DB;
    margin: 20px;
    padding: 20px;
    width: 50vh;
    border-radius: 10px;
}
.kontejner {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
}
body {
background-color: #502F4C;
text-align: center;
color: #F9F4F5;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    opacity: 0,6;
    transition: 0,3s;
}
img:hover {opacity: 1;}
.kartic {
    background-color: grey;
    margin: 20px;
    padding: 20px;
    width: 25vh;
    border-radius: 50px;
}
.kontejneric {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}
.csfd {
    width: 200px;
}